.userLogin {
    align-self: center;

}

.userPass {
    align-self: center;
}

.signinWrapper {
   margin-top: 20px;


}

.signinForm {
    display: flex;
    flex-direction: column;

}

.loginBtn {
    font-size: 25px;
    background-color: #745581;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
    align-self: center;
    margin-top: 10px;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
}

input {
    width: 250px;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    color: white;
    font-size: 20px;


}


input::-webkit-input-placeholder { /* WebKit browsers */
    color: whitesmoke;
}

hr {
    margin: 30px;
}

.notReg {
    text-align: center;
    cursor: pointer;
}

.forgotPass {
    align-self: center;
    margin-top: 20px;
    cursor: pointer;

}
