.i {

    width: 100%;
    height: 100vh;
    background-image: url("../../img/ingirBackIntro.jpg");
    background-size: cover;
    position: absolute;


}

.itemsWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.itemsContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.banner {


    margin-left: 200px;


}

.startBuyBtn {
    margin-top: 50px;
    margin-left: 200px;
}

